<% # Inicializando el hash que contiene los dias de la semana. %>
<% names= {0=> "Sun", 1=> "Mon", 2=> "Tues", 3=> "Wed", 4=> "Thu", 5=> "Fri", 6=> "Sat"} %>
<% # Busca todas las entradas del usuario. %>
<% entries= UserScheduleEntry.where(user_id: user.id) %>
<% days= 0 %>
<% entries.each do |entry| %>
    <% days= (days | entry.days_of_week) %>
<% end %>
<% # Convierte el entero a la cadena de bit correspondientes. %>
<% days= days.to_s(2) %>
<% days= ("0" * (7 - days.length)) + days %>

<fieldset class="box tabular">
    <legend>Schedule</legend>
    <div class="splitcontentleft">
        <div class="splitcontentleft">
            <% # Por cada dia de la semana imprime un checkbox con las propiedades necesarias. %>
            <% (0..6).each do |i| %>
                <% checked= (days[i] == "1" ? true : false) %>
                <%= check_box_tag "user_schedule_entry_day", (2 ** ((i - 6).abs)), checked, disabled: checked, id: ("user_schedule_entry_day_" + names[i]) %>
                <%= names[i]  %>
                <br>
            <% end %>
        </div>
        <div class="splitcontentright">
            <strong>Hours</strong>
            <input id="user_schedule_entry_hours" type="text" size="4">
            <br>
            <input id="user_schedule_entry_add_button" type="button" value="Add" onClick="AddEntry()">
        </div>
    </div>
    <div class="splitcontentright">
        <table id="user_schedule_entries">
            <% # Por cada entrada imprime una fila con identificador el numero correspondiente a los dias de la semana seleccionados. %>
            <% entries.each do |entry| %>
                <%= content_tag :tr, :id=> entry.days_of_week do %>
                    <%= content_tag :td do %>
                        <% result= "" %>
                        <% # Para imprimir los nombres de los dias. %>
                        <% (0..6).each do |i| %>
                            <% result+= names[i] + "," if days[i] == "1" %>
                        <% end %>
                        <%= result.gsub(/,$/, "") %>
                    <% end %>
                    <%= content_tag :td, entry.hours %>
                    <%= content_tag :td, "X", :class=> "user_schedule_entry_remove_button" %>
                <% end %>
            <% end %>
        </table>
    </div>
</fieldset>
<script>
function GetDaysNames() {
    return { 0: "Sun", 1: "Mon", 2: "Tues", 3: "Wed", 4: "Thu", 5: "Fri", 6: "Sat" };
}
function DaysToString(days) {
    var str_days= days.toString(2);
    return Array((7 - str_days.length) + 1).join("0") + str_days;
}
function AddEntry() {
    var days= 0;
    var hours= parseInt($.trim($("#user_schedule_entry_hours").val()));

    $('input[type="checkbox"][name="user_schedule_entry_day"]').each(function () {
        if($(this).is(":not(:disabled):checked")) {
            $(this).attr("disabled", true);
            days+= parseInt($.trim($(this).val()));
        }
    });

    if(days > 0 && hours > 0) {
        var entry= "";
        var names= GetDaysNames();
        var str_days= DaysToString(days);

        for(var i= 0; i < 7; i++) {
            if(str_days[i] === "1") {
                entry+= names[i] + ",";
            }
        }

        entry= '<tr id="' + days + '"><td>' + entry.replace(/,$/, "") + '</td><td>' + hours + '</td><td class="user_schedule_entry_remove_button">X</td></tr>';

        $("#user_schedule_entry_hours").val("");
        $("#user_schedule_entries").append(entry);
    }
    else {
        alert("ERROR WITH SCHEDULE ENTRIES!");
    }
}

$("#user_schedule_entries").on("click", "td.user_schedule_entry_remove_button", function() {
    var checkbox;
    var names= GetDaysNames();
    var tr= $(this).parent("tr");
    var str_days= DaysToString(parseInt($(tr).attr("id")));

    for(var i= 0; i < 7; i++) {
        if(str_days[i] === '1') {
            checkbox= $("#user_schedule_entry_day_" + names[i]);

            checkbox.attr("checked", false);
            checkbox.attr("disabled", false);
        }
    }
    tr.remove();
});
</script>
