<form id="resources_form" method="get" action="<%= resources_path %>">
    <% # Filtros permitidos para la calendarizacion de los recursos %>
    <fieldset id="filters">
        <legend><%= l :label_filter_plural %></legend>
        <% # Filtro por recurso %>
        <div class="splitcontentleft">
            <%= label_tag "resources", "Resources" %>
            <select name="selected_columns[]" size="<%= @users.length <= 7 ? @users.length : 7 %>" multiple="multiple" style="width:auto">
                <% @users.each do |u| %>
                    <option value="<%= u.id %>" <%= 'selected' if @resources.include? u.id %>><%= "#{u.firstname} #{u.lastname}" %></option>
                <% end %>
            </select>
        </div>
        <% # Filtro por ano y mes %>
        <div class="splitcontentleft">
            <%= label_tag "month", l(:label_month) %>
            <%= select_month @month, :prefix=> "month", :discard_type=> true %>
            <%= label_tag "year", l(:label_year) %>
            <%= select_year @year, :prefix=> "year", :start_year=> Date.today.year, :discard_type=> true %>

            <% # Botones para aplicar y limpiar los filtros %>
            <a href="#" class="icon icon-checked" onclick="$('#resources_form').submit()"><%= l :button_apply %></a>
            <a href="<%= resources_path %>" class="icon icon-reload"><%= l :button_clear %></a>
        </div>
    </fieldset>
</form>
<p style="float:right;"><%= link_to_month(@year, @month, @resources, :previous) %> | <%= link_to_month(@year, @month, @resources, :next) %></p>
<% # Impresion del calendario %>
<table class="cal">
    <thead>
        <tr>
            <% # Imprime la celda mas al noreste vacia %>
            <th scope="col" title="<%= l :label_week %>" class="week-number"></th>
            <% # Imprime las columnas correspondientes a los siete dias de la semana empezando por el Domingo %>
            <% 7.times do |i| %>
                <th scope="col"><%= day_name((@calendar.first_wday + i) % 7) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% day= @calendar.startdt %>
        <% # Itera hasta el ultimo dia del mes %>
        <% while day <= @calendar.enddt %>
            <% # Imprime la celda correspondiente al numero se semana si el dia actual es el primer dia de la semana(Domingo) %>
            <% if @calendar.first_wday == day.cwday %>
                <tr>
                <% # (day + ((11 - day.cwday) % 7)) Siempre da el jueves de la proxima semana %>
                <td class="week-number" title="<%= l :label_week %>"><%= (day + ((11 - day.cwday) % 7)).cweek %></td>
            <% end %>
            <% # Imprime el dia correspondiente, si es el dia pertenece al mes actual lo etiqueta como 'event' %>
            <% # Si el dia es el dia actual lo etiqueta como 'today' %>
            <td class="<%= day.month == @calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
                <% # Imprime el numero del dia %>
                <p class="day-num"><%= day.day %></p>
                <% # Itera sobre cada evento que exista en este dia %>
                <% @calendar.events_on(day).each do |i| %>
                    <% # Aqui va la magia de los eventos %>
                <% end %>
            </td>
            <% # Cierra la fila si es el ultimo dia de la semana(Sabado) %>
            <% if day.cwday == @calendar.last_wday %>
                </tr>
            <% end %>
            <% # Pasa al proximo dia %>
            <% day= day + 1 %>
        <% end %>
    </tbody>
</table>
